speconenvelope/dat/
sandbox/
redrock/dat/
gal_maker/dat/
gal_maker/filters
desihub/
VANDELS/
SOMPY/
GOODS/
COSMOS/cosmos_zphot_mag25.tbl
COSMOS/asu.fits
COSMOS/cosmos_phot_20060103.tbl
COSMOS/2009/
COSMOS/DEIMOS/
*~